.button-image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button-image-wrapper--button {
    height: 25vw;
}

.button-image-wrapper--image {
 grid-column: span 2;
 height: 25vw;
}