@font-face {
  font-family: "Kollektif";
  src: url('./kollektif/Kollektif.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Kollektif;
  letter-spacing: 1px;
}
